<p>
  Your current score is:
  <%= session["score"] %>
</p>
<pre>
  <%= ASCII_ART[session["ascii"]] %>
</pre>
<form action="/submission" method="post">
  <label>Please choose one of the answers below</label>
  <% @choices.each do |choice| %>
    <input type="radio" name="guess" value="<%= choice %>">
      <%= choice %>
    </input>
  <% end %>
  <button>Submit</button>
</form>
